<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="css/style.css">
<title>Chapter 4 Challenge</title>
<h1>Halo <%= email %>!</h1>
<div id="app">homehome</div>
<noscript>Javascript gaada euy</noscript>
<script src="js/index.js">
</script>
