body{
    margin: 0px;
}

#hero {
    background-image: url(../images/main-bg.jpg);
    background-color: #cccccc;
    height: 140vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#hero-text {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: DelaGothicOne-Regular;
}

#hero-text1 {
    color: white;
    font-size: 20px;
    font-weight: normal;
    margin-top: 70px;
  /*  margin-left: 45px;*/
}
#hero-text2 {
    color: white;
    font-size: 10px;
    font-weight: normal;
    margin-top: 390px;
    margin-left: 24px;
}
#hero-tanda{
    position: absolute;
    width: 20.25px;
    height: 8.17px;
    left: 688.32px;
    top: 898.53px;
    border: 8px solid #FFFFFF;
}
#button {
    background-color: rgba(226, 108, 11, 0.938);
   /* width: 100%;*/
    text-decoration: none;
    color: #ecf0f1;
    width: 100px;
    padding: 5px 10px;
    margin:405px;
    margin-left:520px;
    position:absolute;

  }

 
 #button1 {
   
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    text-decoration: none;
    text-align: center;
    font-size: 11px;
    color: #ecf0f1;
    width: 140px;
    padding: 5px 10px;
    margin:460px;
    margin-left:105px;
    position:absolute;
 }

#button2 {
    background-color:orange;
    text-decoration: none;
    color: black;
    width: 300px;
    height:50px;
    top:500px;
    left:890px;
    text-align:center;
    position:absolute;
 }

 #button3 {
    background-color:dimgray;
    text-decoration: none;
    color: #ecf0f1;
    width: 300px;
    height:50px;
    top:500px;
    left:565px;
    text-align:center;
    position:absolute;
}

 #button21 {
    top:50%;
    left:352px;
}

#games {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 120vh;
    background-image:  url(../images/the-games-bg.jpg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#game-title {
    width: 30%;
}


#features {
    width: 100vw;
    height: 130vh;
    background-image: url(../images/features.jpg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#garis {
    position: absolute;
    width: 135px;
    height: 0px;
    left: 707px;
    top: 335px;
    border:0.5px solid #FFFFFF;
    transform: rotate(90deg);
}

#garis_footer {
    position: absolute;
    width: 1160px;
    height: 0px;
    left: 35px;
    bottom: 100px;
    border:0.5px solid #FFFFFF;
   
}

#lingkaran1{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 770px;
    top: 260px;
    background: #FFFFFF;
    border: 0.5px  #FFFFFF;
    border-radius:50%;
    transform: rotate(90deg);
}

#lingkaran2{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 770px;
    top: 405px;
    border: 1.30637px solid #FFFFFF;
    border-radius:50%;
}

#lingkaran3{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 770px;
    top: 460px;
    border: 1.30637px solid #FFFFFF;
    border-radius:50%;
}

#gambar
{border-radius:50%;}

#carousel-game {
    width: 60%;
}


.carousel-text1 {
    color: white;
}
.features-text1 {
    color:orange;
}
.center-text {
    position: absolute;
    left: 45%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 8px;
    border-radius: 10px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
}

.carousel-text
{top:100px;left: 20px;}

#requirement {
    background-image: url(../images/requirements.png);
    background-color: #cccccc;
    height: 130vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#top-score {
    background-image: url(../images/top-score-bg.png);
    background-color: rgba(12, 8, 8, 0.959);
    height: 130vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
           
}

#subscribe {
    background-color:black;
    height: 130vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*
#socialiconsbox {
    margin: 10px 0;
}
.socialicons {
    color: #FFF;
    font-size: 1.5em;
    margin-right: 30px;
    font-family: georgia, serif;
    letter-spacing: -1px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.facebook { background:#3B5998; padding:2px 10px; }
.twitter { background:#00ACED; padding:2px 10px; }
.googleplus{ background:#D2412E; padding:2px 3px; }
.linkedin { background:#4A9CC9; padding: 2px 6px; }
*/
